<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Me What You Got!</title>
    <%- include('./header.ejs') %>
  </head>
  <body class="font-monospace">
    <div class="container mx-auto">
      <!-- prettier-ignore -->
      <%- include('./navbar.ejs') %>
      <h1 class="fw-bold text-uppercase">Post Your Desk Setup:</h1>
      <form action="/admin-edit-desk/<%= post.id %>?_method=PUT" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username: </label>
          <input
            required
            type="text"
            name="username"
            id="username"
            value="<%= post.username %>"
            class="form-control mb-3"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title: </label>
          <input
            required
            type="text"
            name="title"
            id="title"
            value="<%= post.title %>"
            class="form-control mb-3"
          />
        </div>
        <div class="mb-3">
          <label for="imgURL" class="form-label">URL: </label>
          <input
            required
            type="text"
            name="imgURL"
            id="imgURL"
            value="<%= post.imgURL %>"
            placeholder="Post a link to your setup image."
            class="form-control mb-3"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"
            >Description <span id="count" class="text-muted"></span>:</label
          >
          <textarea
            required
            type="text"
            size="300"
            height="50"
            name="description"
            id="description"
            class="form-control mb-3 desc"
            placeholder="Describe your setup, maybe a link to parts. First 40 chars appear on the main page."
          >
<%= post.description %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="Approved" class="form-label">Approved: </label>
          <input
            required
            type="text"
            name="approved"
            id="approved"
            value="<%= post.approved %>"
            class="form-control mb-3"
          />
        </div>
        <script>
          const txtArea = document.querySelector('textarea.desc');
          const counting = txtArea.addEventListener('keydown', (e) => {
            let txtCount = 300;
            txtCount -= txtArea.value.length;
            document.getElementById('count').innerHTML = txtCount;
          });
        </script>
        <button class="btn btn-warning">Update</button>
      </form>
    </div>
  </body>
</html>
